.nav-color-background {
    background-color: #F78B00;
}

.main-nav {
    padding-left: 20px;
    min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover {
    color: #00285F;
}

.container-fluid {
    padding-left: 0;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 200px;
    justify-content: space-around;
}

.main-menu a:hover {
    color: #00285F;
}

.main-menu a.active {
    color: #00285F;
    font-weight: bold;
}

#dscatalog-navbar {
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .main-nav {
        padding-right: 20px;
    }
}

@media (min-width: 1200px) {
    .main-nav {
        padding-right: 150px;
        padding-left: 150px;
    }
}