.home-container {
    padding: 20px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    background: #00285F;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 21px;
}

.home-image-container {
    padding: 62px 28px 35px 28px;
}

.home-image-container svg {
    width: 100%;
    height: auto;
}

.home-content-container {
    padding: 0px 20px 30px 20px;
    font-size: 14px;
}

.home-content-container h1 {
    font-size: 22px;
    padding-bottom: 13px;
}

.home-catalog {
    background-color: #EDEDED;
    border-radius: 10px;
    padding: 28px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.home-catalog h1 {
    padding-top: 0;
}

.home-catalog p {
    color: #585858;
    padding-top: 9px;
}

@media (min-width: 576px) {
    .home-container {
        padding: 30px 20px;
        font-size: 22px;
    }

    .home-content-container {
        font-size: 18px;
    }

    .home-content-container h1 {
        font-size: 36px;
        padding-bottom: 0;
    }

    .home-content-container p {
        padding: 0 56px;
    }

    .home-image-container {
        padding: 22px 102px 19px 101px;
    }

    .home-catalog {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px;
    }
}

@media (min-width: 768px) {

    .home-image-container {
        padding: 79px 198px 79px 198px;
    }

    .home-content-container p {
        padding: 0 163px;
    }

    .btn-icon {
        font-size: 14px;
    }

    .home-catalog {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 85px;
    }

    .home-catalog p {
        margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 992px) {

    .home-image-container {
        padding: 82px 249px 17px 248px;
    }

    .home-content-container p {
        padding: 0 163px;
    }
}

@media (min-width: 1280px) {
    .home-container {
        padding: 30px 150px;
    }

    .home-card {
        display: flex;
        flex-direction: row;
        margin-bottom: 21px;
    }

    .home-content-container {
        padding: 140px 63px 140px 85px;
        align-items: flex-start;
        align-content: space-between;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .home-content-container p {
        padding: 0px;
    }

    .home-image-container {
        padding: 83px 78px 83px 0px;
    }

    .home-image-container svg {
        width: 333px;
    }
}

@media (min-width: 1444px) {

    .home-content-container {
        padding: 180px 145px 140px 105px;
    }

    .home-content-container p {
        font-size: 1.1em;
        min-width: 400px;
    }

    .home-content-container h1 {
        min-width: 420px;
    }

    .home-image-container {
        padding: 83px;
        display: flex;
        justify-content: space-around;
        flex: auto;
    }

    .home-image-container svg {
        width: 380px;
    }

    .home-catalog {
        padding-left: 105px;
    }

    .btn-icon {
        font-size: 16px;
    }
}