.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container button {
    border-radius: 0px 5px 5px 0px;
    min-width: 77px;
}

.btn-catalog {
    width: 257px;
}

.btn h6 {
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .btn {
        width: 220px;
    }

    .btn-search {
        width: 170px;
    }
}


@media (min-width: 768px) {

    /* .btn {
        width: 307px;
    } */
    .btn-search {
        width: 170px;
    }
}